# Virtual environment directory
venv/
*.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# System-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
*.iml
.idea/
*.sublime-workspace


# Temporary files
*.tmp
*.swp